
.box{
  padding: 20px;
  border: 1px solid;
  user-select: none;
  position: relative;
  margin-top: 10px;
  .delete-organization{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
:global(.active[data-name]){
  background: rgba(0,0,0,.2);
}

.icons{
  position: absolute;
  z-index: -9;
  > li{
    height: 51px;
    line-height: 30px;
  }
}

.staff-info{
  margin-left: 20px;
  line-height: 2;
  vertical-align: middle;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  :global(.el-form-item){
    display: inline-block;
    padding: 0 10px;
  }
}

.btns{
  text-align: right;
}
